.vsconfig
Evergreen.sln
*.~csv

.vs/
.idea/
.vscode/


DerivedDataCache/
Saved/
Output/
Build/

**/Binaries/
**/Intermediate/

Content/Collections/
Content/Developers/
Content/Evergreen/Assets/
Content/UltraDynamicSky/
