.vsconfig
Evergreen.sln
*.~csv

.vs/
.idea/
.vscode/


DerivedDataCache/
Saved/
Output/
Build/

**/Binaries/
**/Intermediate/

Content/__ExternalActors__/
Content/Collections/
Content/Developers/
Content/Evergreen/Assets/
Content/UltraDynamicSky/

Plugins/One Click Control Rig_5.3/
