.vs
.vsconfig
.idea
.vscode

Binaries
DerivedDataCache
Intermediate
Saved

Plugins/Editor/AssetRepo/Binaries
Plugins/Editor/AssetRepo/Intermediate
Plugins/Editor/CommonCommands/Binaries
Plugins/Editor/CommonCommands/Intermediate
Plugins/Editor/LanguageSwitcher/Binaries
Plugins/Editor/LanguageSwitcher/Intermediate

Content/Collections
Content/Developers
Content/ControlRig
Content/TokyoStylizedEnvironment
